# Database Configurations
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/tathastu_db?schema=public"

# Redis Configurations
REDIS_URL="redis://localhost:6379"

# API Port
PORT=4000
